@{
    ViewBag.Title = "Home Page";
}

<!-- HERO COLLECTION -->
<section class="fanatics-collection">
    <div class="fanatics-collection_wrap">
        <div class="fanatics-collection_wrap_item">
            <img src="~/Content/images/category-one.png" alt="image_category">
        </div>
        <div class="fanatics-collection_wrap_item" style="margin: 0 4%;">
            <img src="~/Content/images/category-2.jpg" alt="image_category">
        </div>
        <div class="fanatics-collection_wrap_item">
            <img src="~/Content/images/category4.jpg" alt="image_category">
        </div>
    </div>
</section>
<!-- PRODUCT SECTION -->
<!-- Display Product -->
<section class="fanatics-product">
    <h2 class="fanatics-product_title">Display Product</h2>
    <div class="fanatics-product_body">
        <ul class="fanatics-product_body_list">
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-one.png" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-2.jpg" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-3.jpg" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-four.png" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Brand New -->
<section class="fanatics-product">
    <h2 class="fanatics-product_title">Brand New</h2>
    <div class="fanatics-product_body">
        <ul class="fanatics-product_body_list">
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-5.jpg" alt="product_image">
                </div>

                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-6.jpg" alt="product_image">
                </div>

                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-7.jpg" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-8.jpg" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-9.jpg" alt="product_image">
                </div>

                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-10.jpg" alt="product_image">
                </div>

                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">

                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-11.jpg" alt="product_image">
                </div>
                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
            <li class="fanatics-product_body_item">
                <div class="fanatics-product_body_image">
                    <img src="~/Content/images/product-12.jpg" alt="product_image">
                </div>

                <h3 class="fanatics-product_body_name">Red Polo Color T-Shift</h3>
                <div class="fanatics-product_body_rating_list">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Banner Sub -->
<div class="fanatics-banner--sub">
    <div class="fanatics-banner-content">
        <p class="fanatics-banner-content-thumbnails">Only avaiable in this store</p>
        <h1 class="fanatics-banner-content-title">
            Xiaomi Mi Smart Band 4
        </h1>
        <p class="fanatics-banner-content-thumbnails">
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s
        </p>

        <button onclick="buyNow();" class="fanatics-banner-btn" type="button" class="btn btn-danger">
            Buy Now
            &#8594;
        </button>
    </div>
    <div class="fanatics-banner-image">
        <img class="fanatics-banner-image--sub_image" src="~/Content/images/exclusive Product.png" alt="image_banner">
    </div>
</div>
<!-- Customer -->
<section class="fanatics-reviews">
    <div class="fanatics-reviews_wrap">
        <div class="fanatics-reviews_wrap_item">
            <span><i class="fas fa-quote-left"></i></span>
            <p class="fanatics-reviews_wrap_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reprehenderit, deserunt sit excepturi
                eveniet itaque nobis.
            </p>
            <div class="fanatics-reviews_wrap_avatar">
                <img src="~/Content/images/user-1.png" alt="image_avatar">
            </div>
            <div class="fanatics-product_body_rating_list">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <h3 class="fanatics-product_body_rating_name">Lucy Bomana</h3>
        </div>
        <div class="fanatics-reviews_wrap_item">
            <span><i class="fas fa-quote-left"></i></span>
            <p class="fanatics-reviews_wrap_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reprehenderit, deserunt sit excepturi
                eveniet itaque nobis.
            </p>
            <div class="fanatics-reviews_wrap_avatar">
                <img src="~/Content/images/user-1.png" alt="image_avatar">
            </div>
            <div class="fanatics-product_body_rating_list">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <h3 class="fanatics-product_body_rating_name">Lucy Bomana</h3>
        </div>
        <div class="fanatics-reviews_wrap_item">
            <span><i class="fas fa-quote-left"></i></span>
            <p class="fanatics-reviews_wrap_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reprehenderit, deserunt sit excepturi
                eveniet itaque nobis.
            </p>
            <div class="fanatics-reviews_wrap_avatar">
                <img src="~/Content/images/user-1.png" alt="image_avatar">
            </div>
            <div class="fanatics-product_body_rating_list">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <h3 class="fanatics-product_body_rating_name">Lucy Bomana</h3>
        </div>
    </div>
</section>
<section class="fanatics-branch">
    <div class="fanatics-branch_wrap">
        <div class="fanatics-branch_wrap_item">
            <img src="~/Content/images/logo-godrej.png" alt="logo">
        </div>
        <div class="fanatics-branch_wrap_item">
            <img src="~/Content/images/logo-oppo.png" alt="logo">
        </div>
        <div class="fanatics-branch_wrap_item">
            <img src="~/Content/images/logo-coca-cola.png" alt="logo">
        </div>
        <div class="fanatics-branch_wrap_item">
            <img src="~/Content/images/logo-paypal.png" alt="logo">
        </div>
        <div class="fanatics-branch_wrap_item">
            <img src="~/Content/images/logo-philips.png" alt="logo">
        </div>
    </div>
</section>
<!-- Footer -->
<section class="fanatics-footer">
    <div class="fanatics-footer-wrap">
        <div class="fanatics-footer_item">
            <h4 class="fanatics-footer_download_title">
                Download our app
            </h4>
            <span class="fanatics-footer_download_sub">
                Download App for Andriod and ios mobile phone
            </span>
            <div class="fanatics-footer_download_image">
                <img src="~/Content/images/play-store.png" alt="download">
                <img src="~/Content/images/app-store.png" alt="download">
            </div>
        </div>
        <div class="fanatics-footer_item">
            <div class="fanatics-footer_logo_img">
                <img src="~/Content/images/logo-one.png" alt="logoFanatics">
            </div>
            <p class="fanatics-footer_logo_sub">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam culpa soluta assumenda sunt
                mollitia.
            </p>
        </div>
        <div class="fanatics-footer_item">
            <h4 class="fanatics-footer_about_title">Useful Links</h4>
            <div class="fanatics-footer_about_list">
                <a href="/" class="fanatics-footer_about_item">Coupons</a>
                <a href="/" class="fanatics-footer_about_item">Blog Post</a>
                <a href="/" class="fanatics-footer_about_item">Return Policy</a>
                <a href="/" class="fanatics-footer_about_item">Become Affiliate</a>
            </div>
        </div>
        <div class="fanatics-footer_item">
            <h4 class="fanatics-footer_about_title">Follows US</h4>
            <div class="fanatics-footer_about_list">
                <a href="/" class="fanatics-footer_about_item">Facebook</a>
                <a href="/" class="fanatics-footer_about_item">Twitter</a>
                <a href="/" class="fanatics-footer_about_item">Instagram</a>
                <a href="/" class="fanatics-footer_about_item">Youtube</a>
            </div>
        </div>
    </div>
    <span class="fanatics-footer-copyright">@DateTime.Now.Year - © Copyright Hoài Nhớ </span>
</section>

</body>
