@model IEnumerable<BigSchool.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Môn Học</h2>

<p>
    <a href="/categories/create" class="btn btn-success">Thêm Môn Học</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="/categories/Edit/@item.Id" class="btn btn-warning">Sửa</a>
            <a href="/categories/Details/@item.Id" class="btn btn-info">Chi Tiết</a>
            <a href="/categories/Delete/@item.Id" class="btn btn-danger">Xóa</a>
        </td>
    </tr>
}

</table>
